<!DOCTYPE html>
<html>
<head>
	<title> Serch a Film</title>
</head>
<body>
	<h1> let's play a movie game</h1>
	<h3>Choose a title: </h3>
	<form action="/game" method="POST">
		<input type="text" name="title" placeholder="Type the title" />
		<button type="submit">Search</button>
	</form>
</body>
</html>